@model WebUI.Models.CategoryViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div>
    <table>
        <tr>
            <td>Categories</td>
        </tr>
        @foreach(var category in Model.Categories)
        {
            <tr>
                <td>@category</td>
            </tr>
        }
    </table>
</div>
