@model WebUI.Models.MenuViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Explanation</td>
            <td>Price</td>
        </tr>
        @foreach (var item in Model.Menu)
        {
            if (item.IsAvailable == true)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Category</td>
                    <td>
                        @if (item.Explanation != null)
                        {
                            @item.Explanation
                        }
                </td>
                <td>@item.Price</td>
            </tr>
        }
    }
    </table>
</div>