@model WebUI.Models.AdminPanelMenuAddModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminPanelLayout.cshtml";
}

    <div class="w-75" style="margin:auto">
        <h2>Add a Item to Menu!</h2>

        <form enctype="multipart/form-data" asp-controller="AdminPanel" asp-action="Add" method="post">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*" placeholder="Image">
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Name"></label>
                <input asp-for="MenuItem.Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="MenuItem.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Category"></label>
                <input asp-for="MenuItem.Category" class="form-control" placeholder="Category" />
                <span asp-validation-for="MenuItem.Category"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.IsAvailable"></label>
                <input asp-for="MenuItem.IsAvailable" class="form-control" placeholder="Availability" />
                <span asp-validation-for="MenuItem.IsAvailable"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Explanation"></label>
                <input asp-for="MenuItem.Explanation" class="form-control" placeholder="Explanation" />
                <span asp-validation-for="MenuItem.Explanation"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItem.Price"></label>
                <input asp-for="MenuItem.Price" class="form-control" placeholder="Price" />
                <span asp-validation-for="MenuItem.Price"></span>
            </div>
            <input type="submit" value="Add" class="btn btn-xs btn-success" />
        </form>
    </div>
