@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminPanelLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Panel</h1>
    <p>You can use navbar to navigate through admin panel.</p>
</div>